*{
    border: 0;
    padding: 0;
    margin: 0;

}
div {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-family: cursive;
    width: 100%;
    height: 100vh;
}
h2 {
    font-size: 60px;
    background: rgb(10, 155, 75);
    padding: 8px 24px;
    min-width: 1500px;
    min-height: 200px;
    background-image: url(./assets/a-link-to-the-past.png);
    border-radius: 16px;
    box-shadow: 0 10px 20px -8px rgba(0, 0, 0,.7);
}

#parallax{
    background-image: url(./assets/zelda_landscape.jpg);
    background-size: cover;
}



.cat {
    height: 400px;
    background-image: url(./assets/circitorigin.jpg);
    background-attachment: fixed;
    background-size: cover;
}

#dog0 {
    background-image: url(./assets/steel.jpg);
    background-size: cover;
    max-height: 300px;
}

#dog1{
    background-image: url(./assets/steel.jpg);
    background-size: cover;
    max-height: 300px;
}

#dog2{
    background-image: url(./assets/steel.jpg);
    background-size: cover;
    max-height: 300px;
}

#dog3{
    background-image: url(./assets/steel.jpg);
    background-size: cover;
    max-height: 300px;
}

#dog4 {
    background-image: url(./assets/steel.jpg);
    background-size: cover;
    max-height: 300px;
}

#dog5 {
    background-image: url(./assets/steel.jpg);
    background-size: cover;
    max-height: 300px;
}

#dog6 {
    background-image: url(./assets/steel.jpg);
    background-size: cover;
    max-height: 300px;
}

#dog7 {
    background-image: url(./assets/steel.jpg);
    background-size: cover;
    max-height: 300px;
}

#dog8 {
    background-image: url(./assets/steel.jpg);
    background-size: cover;
    max-height: 300px;
}

#dog9 {
    background-image: url(./assets/steel.jpg);
    background-size: cover;
    max-height: 300px;
}
#dog0 h2{
    background-color: aqua;
    background-image: none;
    background-size: cover;
}
#dog1 h2{
    background-color: blue;
    background-image: none;
    background-size: cover;
}
#dog2 h2{
    background-color: rgb(124, 180, 20);
    background-image: none;
    background-size: cover;
}
#dog3 h2{
    background-color: rgb(228, 37, 155);
    background-image: none;
    background-size: cover;
}
#dog4 h2{
    background-color: rgb(1, 12, 12);
    background-image: none;
    background-size: cover;
}
#dog5 h2{
    background-color: rgb(49, 155, 84);
    background-image: none;
    background-size: cover;
}
#dog6 h2{
    background-color: rgb(190, 238, 238);
    background-image: none;
    background-size: cover;
}
#dog7 h2{
    background-color: rgb(68, 7, 7);
    background-image: none;
    background-size: cover;
}
#dog8 h2{
    background-color: rgb(78, 112, 16);
    background-image: none;
    background-size: cover;
}
#dog9 h2{
    background-color: rgb(255, 145, 0);
    background-image: none;
    background-size: cover;
}