*{
    border: 0;
    padding: 0;
    margin: 0;

}
div {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-family: cursive;
    width: 100%;
    height: 100vh;
}
h2{
    font-size: 60px;
    background: rgb(10, 155, 75);
    padding: 8px 24px;
    min-width: 1500px;
    min-height: 200px;
    background-image: url(./assets/a-link-to-the-past.png);
    border-radius: 16px;
    box-shadow: 0 10px 20px -8px rgba(0, 0, 0,.7);

}

div:nth-child(1){
    background-image: url(./assets/zelda_landscape.jpg);
    background-size: cover;

}
div:nth-child(2){
    background-image: url(./assets/steel.jpg);
    background-size: cover;
    max-height: 300px;
    
}
div:nth-child(3){
    height: 400px;
    background-image: url(./assets/circitorigin.jpg);
    background-attachment: fixed;
    background-size: cover;
}
div:nth-child(4){
    background-image: url(./assets/steel.jpg);
    background-size: cover;
    /* background-color: aqua; */
    max-height: 300px;
    
    }
div:nth-child(5){
    height: 400px;
    background-image: url(./assets/circitorigin.jpg);
    background-attachment: fixed;
    background-size: cover;
}
div:nth-child(6){
    background-image: url(./assets/steel.jpg);
    background-size: cover;
    max-height: 300px;
}


div:nth-child(7){
    height: 400px;
    background-image: url(./assets/circitorigin.jpg);
    background-attachment: fixed;
    background-size: cover;
}
div:nth-child(8){
    background-image: url(./assets/steel.jpg);
    background-size: cover;
    max-height: 300px;
}
div:nth-child(9){
    height: 400px;
    background-image: url(./assets/circitorigin.jpg);
    background-attachment: fixed;
    background-size: cover;
}
div:nth-child(10){
    background-image: url(./assets/steel.jpg);
    background-size: cover;
    max-height: 300px;
}
div:nth-child(11){
    height: 400px;
    background-image: url(./assets/circitorigin.jpg);
    background-attachment: fixed;
    background-size: cover;
}
div:nth-child(12){
    background-image: url(./assets/steel.jpg);
    background-size: cover;
    max-height: 300px;
}
div:nth-child(13){
    height: 400px;
    background-image: url(./assets/circitorigin.jpg);
    background-attachment: fixed;
    background-size: cover;
}
div:nth-child(14){
    background-image: url(./assets/steel.jpg);
    background-size: cover;
    max-height: 300px;
}

div:nth-child(15){
    height: 400px;
    background-image: url(./assets/circitorigin.jpg);
    background-attachment: fixed;
    background-size: cover;
}
div:nth-child(16){
    background-image: url(./assets/steel.jpg);
    background-size: cover;
    max-height: 300px;
}
div:nth-child(17){
    height: 400px;
    background-image: url(./assets/circitorigin.jpg);
    background-attachment: fixed;
    background-size: cover;
}
div:nth-child(18){
    background-image: url(./assets/steel.jpg);
    background-size: cover;
    max-height: 300px;
}
div:nth-child(19){
    height: 400px;
    background-image: url(./assets/circitorigin.jpg);
    background-attachment: fixed;
    background-size: cover;
}
div:nth-child(20){
    background-image: url(./assets/steel.jpg);
    background-size: cover;
    max-height: 300px;
}