*{
    border: 0;
    padding: 0;
    margin: 0;

}
div {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-family: cursive;
    width: 100%;
    height: 100vh;
}
h2{
    font-size: 60px;
    background: rgb(10, 155, 75);
    padding: 8px 24px;
    border-radius: 16px;

}
div:nth-child(1){
    background-image: url(./assets/marvelscreenshot1.png);
    background-size: cover;

}
div:nth-child(2){
    background-color: maroon;
    max-height: 300px;
}
div:nth-child(3){
    height: 400px;
    background-image: url(./assets/circitorigin.jpg);
    background-attachment: fixed;
    background-size: cover;
}
div:nth-child(4){
    background-color: aqua;
    max-height: 300px;
}
div:nth-child(5){
    height: 400px;
    background-image: url(./assets/circitorigin.jpg);
    background-attachment: fixed;
    background-size: cover;
}
div:nth-child(6){
    background-color: rgb(170, 235, 18);
    max-height: 300px;
}


div:nth-child(7){
    height: 400px;
    background-image: url(./assets/circitorigin.jpg);
    background-attachment: fixed;
    background-size: cover;
}
div:nth-child(8){
    background-color: aqua;
    max-height: 300px;
}
div:nth-child(9){
    height: 400px;
    background-image: url(./assets/circitorigin.jpg);
    background-attachment: fixed;
    background-size: cover;
}
div:nth-child(10){
    background-color: rgb(170, 235, 18);
    max-height: 300px;
}
div:nth-child(11){
    height: 400px;
    background-image: url(./assets/circitorigin.jpg);
    background-attachment: fixed;
    background-size: cover;
}
div:nth-child(12){
    background-color: aqua;
    max-height: 300px;
}
div:nth-child(13){
    height: 400px;
    background-image: url(./assets/circitorigin.jpg);
    background-attachment: fixed;
    background-size: cover;
}
div:nth-child(14){
    background-color: rgb(170, 235, 18);
    max-height: 300px;
}

div:nth-child(15){
    height: 400px;
    background-image: url(./assets/circitorigin.jpg);
    background-attachment: fixed;
    background-size: cover;
}
div:nth-child(16){
    background-color: aqua;
    max-height: 300px;
}
div:nth-child(17){
    height: 400px;
    background-image: url(./assets/circitorigin.jpg);
    background-attachment: fixed;
    background-size: cover;
}
div:nth-child(18){
    background-color: maroon;
    max-height: 300px;
}
div:nth-child(19){
    height: 400px;
    background-image: url(./assets/circitorigin.jpg);
    background-attachment: fixed;
    background-size: cover;
}
div:nth-child(20){
    background-color: maroon;
    max-height: 300px;
}