.sg-back {
    background-image: url(./assets/circitorigin.jpg);
}

.custom-btn{
    background-color: rgb(55, 129, 194);
    margin: 20px;
    height: 50px;
    width: auto;
}

#buy-now:hover {
    background-color: rgb(81, 173, 143);
}

.card1 {
    font-size: 50px;
    background-color: aqua;
    background-image: none;
    background-size: cover;
    background-image: radial-gradient(aqua 30%, rgb(7, 7, 7));
    border-radius: 16px;
    box-shadow: 0 10px 20px -8px rgba(0, 0, 0,.7);
    width: 90%;
    justify-content: center;
    margin: 50px 0px;
    
}

#sg-head {
    color: aliceblue;
    text-align: center;
    height: 50px;
    font-family: fantasy;
    background-color: #4db8ff;
}

.sgtitle{
    font-size: 60px;
    text-align: center;
    text-decoration: none;  
}
.sgowner{
    font-size: 30px;
    text-align: center;
}
.sgdescription{
    font-size: 30px;
    text-align: center;
}
.sgplatform{
    font-size: 30px;
    text-align: center;
    color: coral;
}
.sgprice {
    font-size: 30px;
    text-align: center;
    color: white;
}