.my-footer {
    font-family: 'Gill Sans';
    color: #bee5ff;
    font-size: 20px;
    position:fixed;
    bottom: 0;
    width: 100%;
    display: inline-flex;
    justify-content: center;
    background-color: #4db8ff;
}