/* .wares {
    border: 0;
    padding: 0;
    margin: 0;
} */

.gtitle{
    color: rgb(34, 94, 146);
    font-size: 60px;
    text-align: center;
    width: auto;
    text-decoration: none;  
}
.gowner{
    text-decoration: none;
    color: maroon;
    font-size: 25px;
    text-align: center;
}
.gdescription{
    font-size: 40px;
    text-align: center;
   
}
.gplatform{
    font-size: 30px;
    text-align: center;
    color: coral;
}
.gprice {
   font-size: 30px;
   text-align: center;
   color: rgb(8, 133, 39);
}

#lttp {
    font-size: 60px;
    text-align: center;
    padding: 8px 24px;
    min-width: 1500px;
    min-height: 200px;
    background-image: url(./assets/a-link-to-the-past.png);
    border-radius: 16px;
    box-shadow: 0 10px 20px -8px rgba(0, 0, 0,.7);
}

#lttp p {
    background-color: rgb(10, 155, 75);
    border-radius: 16px;
    box-shadow: 0 10px 20px -8px rgba(0, 0, 0,.7);
    font-family: fantasy;
}

#parallax{
    background-image: url(./assets/zelda_landscape.jpg);
    background-size: cover;
    display: block;
    align-items: center;
    justify-content: center;
    height: 500px;
}

.dog {
    background-image: url(./assets/steel.jpg);
    background-size: cover;
    max-height: 400px;
    /* display: flex; */
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

.cat {
    height: 400px;
    background-image: url(./assets/circitorigin.jpg);
    background-attachment: fixed;
    background-size: cover;
}

.card {
    display: inline-block;
    background-color: aqua;
    background-size: cover;
    background-image: radial-gradient(aqua 30%, rgb(7, 7, 7));
    width: 80%;
    max-height: 90%;
    border-radius: 16px;
    box-shadow: 0 10px 20px -8px rgba(0, 0, 0,.7);
    margin-left: 10%;
    margin-top: 4%;
    font-family: fantasy;
}

.thumbnail {
    float: left;
    margin-left: 15%;
    justify-content: space-between;
    font-family: fantasy;
    margin-right: 10%;
    padding-top: 10px;
}

.card .gpreview {
    height: 225px;
    /*border: 1px solid black; */
    margin-right: -392px;
    margin-top: 5%;
}



