.wares {
    border: 0;
    padding: 0;
    margin: 0;
}
.gtitle{
  font-size: 60px;
  text-align: center;
  text-decoration: none;  
}
.gowner{
    font-size: 30px;
    text-align: center;
}
.gdescription{
    font-size: 60px;
    text-align: center;
}
.gplatform{
    font-size: 30px;
    text-align: center;
    color: coral;
}
.cat, .dog {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

#lttp {
    font-size: 60px;
    text-align: center;
    padding: 8px 24px;
    min-width: 1500px;
    min-height: 200px;
    background-image: url(./assets/a-link-to-the-past.png);
    border-radius: 16px;
    box-shadow: 0 10px 20px -8px rgba(0, 0, 0,.7);
}

#lttp p {
    background-color: rgb(10, 155, 75);
    border-radius: 16px;
    box-shadow: 0 10px 20px -8px rgba(0, 0, 0,.7);
}

#parallax{
    background-image: url(./assets/zelda_landscape.jpg);
    background-size: cover;
    display: block;
    align-items: center;
    justify-content: center;
    height: 500px;
}

.dog {
    background-image: url(./assets/steel.jpg);
    background-size: cover;
    max-height: 400px;
}

.cat {
    height: 400px;
    background-image: url(./assets/circitorigin.jpg);
    background-attachment: fixed;
    background-size: cover;
}

.card {
    font-size: 50px;
    background-color: aqua;
    background-image: none;
    background-size: cover;
    background-image: radial-gradient(aqua 30%, rgb(7, 7, 7));
    width: 40%;
    border-radius: 16px;
    box-shadow: 0 10px 20px -8px rgba(0, 0, 0,.7);
}