.gtitle{
    color: rgb(126, 188, 243);
    font-size: 60px;
    text-align: center;
    width: auto;
    text-decoration: none;
}
.gowner{
    text-decoration: none;
    color: maroon;
    font-size: 25px;
    text-align: center;
}
.gdescription{
    font-size: 40px;
    text-align: center;
   
}
.gplatform{
    font-size: 30px;
    text-align: center;
    color: coral;
}
.gprice {
   font-size: 50px;
   text-align: center;
   color: rgb(82, 185, 82);
}

.lttp {
    font-size: 60px;
    font-family: Syne Mono;
    text-align: center;
    padding: 8px 24px;
    min-height: 200px;
    width: 98%;
    background-image: url(./assets/a-link-to-the-past.png);
    border-radius: 16px;
    box-shadow: 0 10px 20px -8px rgba(0, 0, 0,.7);
}

.lttp p {
    background-color: rgb(10, 155, 75);
    border-radius: 16px;
    box-shadow: 0 10px 20px -8px rgba(0, 0, 0,.7);
    font-family: fantasy;
}

#sm {
    font-size: 60px;
    text-align: center;
    padding: 8px 24px;
    object-fit: cover;
    width: 98%;
    min-height: 300px;
    background-image: url(./assets/another-castle.png);
    background-size: contain;
    border-radius: 16px;
    box-shadow: 0 10px 20px -8px rgba(0, 0, 0,.7);
}

#sm p {
    background-color: rgb(10, 155, 75);
    border-radius: 16px;
    box-shadow: 0 10px 20px -8px rgba(0, 0, 0,.7);
    font-family: fantasy;
}

.parallax{
    background-image: url(./assets/zelda_landscape.jpg);
    background-size: cover;
    display: block;
    align-items: center;
    justify-content: center;
    height: 500px;
    /* min-height: 100vh; */
    background-attachment: fixed;
    background-size: cover;
}

.dog {
    background-image: url(./assets/steel.jpg);
    background-size: cover;
    /* min-height: 400px; */
    /* display: flex; */
    padding: 1.5% 0%;
    align-items: center;
    justify-content: center;
    width: 100%;
    /* height: 100vh; */
}

.cat {
    height: 300px;
    background-image: url(./assets/circitorigin.jpg);
    background-attachment: fixed;
    background-size: cover;
}

.card {
    display: inline-block;
    background-color: aqua;
    background-size: cover;
    background-image: radial-gradient(aqua 30%, rgb(7, 7, 7));
    width: 80%;
    height: 90%;
    border-radius: 16px;
    box-shadow: 0 10px 20px -8px rgba(0, 0, 0,.7);
    margin-left: 10%;
    
    font-family: fantasy;
}

.thumbnail {
    float: left;
    justify-content: space-between;
    font-family: fantasy;
    padding-top: 10px;
    margin: 1%;
}

.gpreview {
    width: 400px;
    height: auto;
    border-radius: 16px;
}

.rupee {
    height: 50px;
    position: relative;
    bottom: 5px;
    left: 5px;
}




