.payment-container {
    color: rgb(23, 33, 90);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
    margin: 20px;   
    border-style: groove;
    border-width: 6px;
}

.form-group {
    font-size: 20px;
    margin: 12px;
    justify-content: center;
    align-items: center;
}

.error {
    color: red
}

.first-name-text{
    display: inline;
}